Package: com.midnightchips.asteroid
Name: Asteroid
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader, com.creaturecoding.libcspreferences, com.creaturesurvive.libcscolorpicker
Version: 1.1
Conflicts:
Replaces:
Priority: optional
Architecture: iphoneos-arm
Description: System-wide weather tweak.
Maintainer: midnightchips & the casle
Author: midnightchips & the casle
Section: Tweaks
dev: midnightchips & the casle
Icon:
