<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>MidnightChip</string>
				<key>provider</key>
				<string>0</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string>MidnightChips</string>
				<key>devTitle</key>
				<string>MidnightChips</string>
				<key>devSubtitle</key>
				<string>Developer</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>the-casle</string>
				<key>provider</key>
				<string>0</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string>the casle</string>
				<key>devTitle</key>
				<string>the casle</string>
				<key>devSubtitle</key>
				<string>Developer</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Info</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://repo.dynastic.co/package/com.midnightchips.asteroid</string>
				<key>label</key>
				<string>Depiction</string>
				<key>sublabel</key>
                <string>Learn_more_about_Asteroid</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Donations</string>
			</dict>
			
			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPCalloutCell</string>
				<key>calloutColor</key>
				<string>#74d69c</string>
				<key>url</key>
				<string>https://paypal.me/thecasle</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>Make_a_Donation</string>
				<key>sublabel</key>
                <string>Compensate_Casle</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPCalloutCell</string>
				<key>calloutColor</key>
				<string>#74d69c</string>
				<key>url</key>
				<string>https://paypal.me/MidnightTweaks</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>Make_a_Donation</string>
				<key>sublabel</key>
                <string>Compensate_Midnight</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Support</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://github.com/midnightchip/Asteroid/issues</string>
				<key>label</key>
				<string>Submit_an_Issue</string>
				<key>sublabel</key>
                <string>Report_Bug</string>
			</dict>

            <dict>
                <key>action</key>
                <string>email:</string>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>mailto</key>
                <string>mailto:midnightchips@gmail.com?subject=Asteroid%20v0.0.1</string>
                <key>includeLogs</key>
                <true/>
                <key>label</key>
                <string>Email_Support</string>
				<key>sublabel</key>
                <string>Email_Me</string>
            </dict>

			<dict>
				<key>action</key>
				<string>copyTweakList</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Copy_Tweak_List</string>
				<key>sublabel</key>
                <string>Get_List</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Contact</string>
				<key>footerText</key>
				<string></string>
				<key>footerAlignment</key>
				<integer>0</integer>
			</dict>

			
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>the%5fcasle</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>the casle</string>
				<key>devSubtitle</key>
				<string>Follow the casle on Twitter</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>MidnightChip</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>MidnightChips</string>
				<key>devSubtitle</key>
				<string>Follow MidnightChips on Twitter</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://www.reddit.com/user/the_casle</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>u/the_casle</string>
				<key>sublabel</key>
                <string>Reddit_Casle</string>
				<key>calloutColor</key>
				<string>#FF5700</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://www.reddit.com/user/MidnightChips</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>u/MidnightChips</string>
				<key>sublabel</key>
                <string>Reddit_Midnight</string>
				<key>calloutColor</key>
				<string>#FF5700</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Special_Thanks</string>
				<key>footerText</key>
				<string></string>
				<key>footerAlignment</key>
				<integer>0</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>cpdigdarkroom</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>CP Digital Darkroom</string>
				<key>devSubtitle</key>
				<string>Follow CP on Twitter</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>JunesIphone</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>JunesiPhone</string>
				<key>devSubtitle</key>
				<string>Follow June on Twitter</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>http://junesiphone.com/supersecret/</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>June_Repo</string>
				<key>sublabel</key>
                <string>June_Blurb</string>
				<key>calloutColor</key>
				<string>#FFFFFF</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>Andywiik</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Andrew Wiik</string>
				<key>devSubtitle</key>
				<string>Follow Andy on Twitter</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>_Matchstic</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Matchstic</string>
				<key>devSubtitle</key>
				<string>Follow Matchstic on Twitter</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>CreatureSurvive</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>Creature Survive</string>
				<key>devSubtitle</key>
				<string>Follow Creature on Twitter</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>TPinpal</string>
				<key>provider</key>
				<string>1</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string></string>
				<key>devTitle</key>
				<string>PINPAL</string>
				<key>devSubtitle</key>
				<string>Creates our Amazing Artwork</string>
			</dict>

			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Legal</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://github.com/JunesiPhone/WeatherAnimations</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>Weather_Animations</string>
				<key>sublabel</key>
                <string>WA_Perms</string>
				<key>calloutColor</key>
				<string>#FFFFFF</string>
			</dict>

			<dict>
                <key>action</key>
                <string>gplInfo</string>
                <key>alignment</key>
                <string>center</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>License_Information</string>
            </dict>



		</array>

		<key>title</key>
		<string>Asteroid_Support</string>
	</dict>
</plist>
