<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Refresh Rate</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>label</key>
                <string>Refresh Rate</string>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>key</key>
                <string>refreshRate</string>
                <key>default</key>
                <string>300</string>
                <key>validTitles</key>
                <array>
                    <string>30 Seconds</string>
                    <string>1 Mintute</string>
                    <string>5 Minutes</string>
                    <string>10 Minutes</string>
                    <string>15 Minutes</string>
                </array>
                <key>validValues</key>
                <array>
                    <real>30</real>
                    <real>60</real>
                    <real>300</real>
                    <real>600</real>
                    <real>900</real>
                </array>
            </dict>
            
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>


		</array>

		<key>title</key>
		<string>General Settings</string>
	</dict>
</plist>
