<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Icon</string>
				<key>sublabel</key>
				<string>Enables_Theme</string>
				<key>key</key>
				<string>appIcon</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
				<key>isGroupToggle</key>
				<true/>
			</dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Background</string>
                <key>sublabel</key>
                <string>Background_Icon</string>
                <key>key</key>
                <string>appScreenWeatherBackground</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
                <key>enableSpecifiers</key>
                <array>
                    <string>appScreenWeather</string>
                </array>
            </dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Live</string>
				<key>sublabel</key>
				<string>Weather_Location</string>
				<key>key</key>
				<string>appScreenWeather</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
				<key>enableSpecifiers</key>
				<array>
					<string>customConditionIcon</string>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Custom_Weather</string>
				<key>key</key>
				<string>customConditionIcon</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>enableSpecifiers</key>
				<array>
					<string>weatherConditionsIcon</string>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>Select_Weather</string>
				<key>sublabel</key>
				<string>Overides_Current</string>
				<key>key</key>
				<string>weatherConditionsIcon</string>
				<key>titlesDataSource</key>
				<string>weatherConditionsKeys</string>
				<key>valuesDataSource</key>
				<string>weatherConditionsValues</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Background_Color</string>
				<key>key</key>
				<string>customAppColor</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>key</key>
				<string>appColor</string>
				<key>label</key>
				<string>Select_Color</string>
				<key>fallback</key>
				<string>FFFFFF</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>

		<key>title</key>
		<string>Weather_Icon</string>
	</dict>
</plist>
