<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Lock</string>
				<key>sublabel</key>
				<string>Control_Lock</string>
				<key>key</key>
				<string>lockScreenWeather</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Home</string>
				<key>sublabel</key>
				<string>Control_Home</string>
				<key>key</key>
				<string>homeScreenWeather</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Custom_Condition</string>
				<key>key</key>
				<string>customCondition</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>enableSpecifiers</key>
				<array>
					<string>weatherConditions</string>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>Select_Condition</string>
				<key>sublabel</key>
				<string>Overide_Animation</string>
				<key>key</key>
				<string>weatherConditions</string>
				<key>titlesDataSource</key>
				<string>weatherConditionsKeys</string>
				<key>valuesDataSource</key>
				<string>weatherConditionsValues</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>


            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Hide_Explain</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Freeze_Animations</string>
                <key>key</key>
                <string>freezeCondition</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>detail</key>
                <string>CSListItemsController</string>
                <key>key</key>
                <string>hideWeatherBackground</string>
                <key>default</key>
                <real>0</real>
                <key>validTitles</key>
                <array>
                    <string>None</string>
                    <string>Background</string>
                    <string>Animation</string>
                </array>
                <key>validValues</key>
                <array>
                    <real>0</real>
                    <real>1</real>
                    <real>2</real>
                </array>
            </dict>
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>

		<key>title</key>
		<string>Live_Weather</string>
	</dict>
</plist>
