<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable Lock Screen</string>
				<key>sublabel</key>
				<string>Enable/Disable Live Weather on LockScreen</string>
				<key>key</key>
				<string>lockScreenWeather</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable Home Screen</string>
				<key>sublabel</key>
				<string>Enable/Disable Live Weather on HomeScreen</string>
				<key>key</key>
				<string>homeScreenWeather</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<!--<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Use Local Weather</string>
				<key>sublabel</key>
				<string>Requires Location Based Services to be On. If unchecked, weather is displayed from first weather card in the Weather App</string>
				<key>key</key>
				<string>isLocal</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>-->

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Choose Custom Conditions</string>
				<key>key</key>
				<string>customCondition</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>enableSpecifiers</key>
				<array>
					<string>weatherConditions</string>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>Select Custom Weather Conditions</string>
				<key>sublabel</key>
				<string>This overides your weather background animation.</string>
				<key>key</key>
				<string>weatherConditions</string>
				<key>titlesDataSource</key>
				<string>weatherConditionsKeys</string>
				<key>valuesDataSource</key>
				<string>weatherConditionsValues</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>


			

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Hide Live Weather Background</string>
				<key>sublabel</key>
				<string>Hides Background of Live Weather, Keeps the Animation</string>
				<key>key</key>
				<string>hideWeatherBackground</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>


			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>

		<key>title</key>
		<string>Live Weather</string>
	</dict>
</plist>
