<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Greet</string>
                <key>key</key>
                <string>greetView</string>
                <key>isGroupToggle</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
			<dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Hide_Notif</string>
				<key>sublabel</key>
                <string>Notif_Explain</string>
                <key>key</key>
                <string>hideOnNotif</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            <dict>
                <key>action</key>
                <string>pushToView:</string>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>pushToPlist</key>
                <string>lockScreenViewKeys</string>
                <key>label</key>
                <string>Lockscreen_Components</string>
                <key>sublabel</key>
                <string>Configure_Lockscreen_Components</string>
                <key>key</key>
                <string>genSettings</string>
            </dict>
            
            <!-- <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>CSPDatePickerCell</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>default</key>
                <string>7</string>
                <key>detail</key>
                <string>PSDetailController</string>
                <key>label</key>
                <string>date picker</string>
                <key>placeholder</key>
                <string>7</string>
                <key>key</key>
                <string>dateTest</string>
                <key>PostNotification</key>
                <string>com.creaturesurvive.motuumls.prefschanged</string>
            </dict> -->

            
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Custom_Fonts</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Custom_Font</string>
				<key>key</key>
				<string>customFont</string>
				<key>isGroupToggle</key>
				<true/>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListFontsController</string>
				<key>key</key>
				<string>availableFonts</string>
				<key>label</key>
				<string>Select_Custom_Font</string>
				<key>titlesDataSource</key>
				<string>fontNames</string>
				<key>valuesDataSource</key>
				<string>fontNames</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				
			</dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
			<dict>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>key</key>
				<string>textColor</string>
				<key>label</key>
				<string>Set_Text_Color</string>
				<key>fallback</key>
				<string>FFFFFF</string>
				<key>alpha</key>
				<false/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Use_Custom_Glyph_Image</string>
				<key>key</key>
				<string>customImage</string>
				<key>isGroupToggle</key>
				<true/>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>Select_Weather_Glyph_Type</string>
				<key>key</key>
				<string>setImageType</string>
				<key>titlesDataSource</key>
				<string>getImageType</string>
				<key>valuesDataSource</key>
				<string>getImageType</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>key</key>
				<string>glyphColor</string>
				<key>label</key>
				<string>Set_Glyph_Color</string>
				<key>fallback</key>
				<string>FFFFFF</string>
				<key>alpha</key>
				<false/>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Blur_Amount</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>key</key>
				<string>blurAmount</string>
				<key>showValue</key>
				<true/>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>30</real>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<real>30</real>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>
            
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			


		</array>

		<key>title</key>
		<string>Lock_Screen</string>
	</dict>
</plist>
