<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>items</key>
		<array>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Editing</string>
                <key>footerText</key>
                <string>Edit_Explain</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Editing</string>
                <key>key</key>
                <string>enableEditingMode</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Pleasantry_Size</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Pleasantry</string>
                <key>key</key>
                <string>addgreetLabel</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
			
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>greetingSize</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>12</real>
                <key>max</key>
                <real>60</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Weather_Description_Size</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Weather_Description</string>
                <key>key</key>
                <string>addDescription</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>wDescriptionSize</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>12</real>
                <key>max</key>
                <real>60</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Current_Temperature_Text_Size</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Current_Temperature</string>
                <key>key</key>
                <string>addTemp</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>tempSize</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>12</real>
                <key>max</key>
                <real>60</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Dismiss_Button_Size</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Dismiss_Button</string>
                <key>key</key>
                <string>addDismiss</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>dismissButtonSize</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>12</real>
                <key>max</key>
                <real>60</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Blur_Amount</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Enable_Blur</string>
                <key>key</key>
                <string>addBlur</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>blurAmount</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>0</real>
                <key>max</key>
                <real>30</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Glyph</string>
				<key>key</key>
				<string>addLogo</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>
            
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Use_Custom_Glyph_Image</string>
                <key>key</key>
                <string>customImage</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
                <key>enableSpecifiers</key>
                <array>
                    <string>setImageType</string>
                    <string>glyphColor</string>
                </array>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>detail</key>
                <string>CSListItemsController</string>
                <key>label</key>
                <string>Select_Weather_Glyph_Type</string>
                <key>key</key>
                <string>setImageType</string>
                <key>titlesDataSource</key>
                <string>getImageType</string>
                <key>valuesDataSource</key>
                <string>getImageType</string>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>cellClass</key>
                <string>CSColorDisplayCell</string>
                <key>key</key>
                <string>glyphColor</string>
                <key>label</key>
                <string>Set_Glyph_Color</string>
                <key>fallback</key>
                <string>FFFFFF</string>
                <key>alpha</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Notification_Reminder</string>
				<key>key</key>
				<string>addNotification</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Hourly_Forecast_Options</string>
                <key>footerText</key>
                <string>Forecast_Height</string>
            </dict>
            
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Weather_Preview</string>
				<key>key</key>
				<string>enableForeHeader</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Weather_Forecast_Info</string>
				<key>key</key>
				<string>enableForeTable</string>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
			</dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>key</key>
                <string>foreHeight</string>
                <key>showValue</key>
                <true/>
                <key>min</key>
                <real>0</real>
                <key>max</key>
                <real>500</real>
                <key>isSegmented</key>
                <false/>
                <key>PostNotification</key>
                <string>com.midnightchips.asteroid.prefschanged</string>
                <key>defaults</key>
                <string>com.midnightchips.asteroid</string>
                <key>defaultsPath</key>
                <string>/Library/PreferenceBundles/Asteroid.bundle</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            
            
            <dict>
                <key>action</key>
                <string>resetLoc</string>
                <key>alignment</key>
                <string>center</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Reset_Components</string>
            </dict>
            
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>MidnightChips &amp; the casle © 2018</string>
                <key>footerAlignment</key>
                <integer>1</integer>
            </dict>
		</array>

		<key>title</key>
		<string>Components</string>
	</dict>
</plist>
