<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSTableCell</string>
				<key>cellClass</key>
				<string>CSPImageCell</string>
				<key>height</key>
				<string>200</string>
				<key>static</key>
				<true/>
				<key>key</key>
				<string>selectPhotos</string>
				<key>storePath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle/Asteroid.png</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle</string>
				<key>sublabel</key>
				<string>Asteroid\nby: MidnightChips &amp; the casle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>by: MidnightChips &amp; the casle</string>
				<key>footerAlignment</key>
				<integer>0</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable_Tweak</string>
				<key>key</key>
				<string>kLWPEnabled</string>
				<key>isGroupToggle</key>
				<true/>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaults</key>
				<string>com.midnightchips.asteroid</string>
			</dict>
            
            <dict>
                <key>action</key>
                <string>pushToView:</string>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>pushToPlist</key>
                <string>genSettings</string>
                <key>label</key>
                <string>General Settings</string>
                <key>sublabel</key>
                <string>Configure general options</string>
                <key>key</key>
                <string>genSettings</string>
            </dict>
            
			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>lockScreen</string>
				<key>label</key>
				<string>Lock Screen</string>
				<key>sublabel</key>
				<string>Configure Greeting View and Glyphs</string>
				<key>key</key>
				<string>lockScreen</string>
			</dict>	

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>homeScreen</string>
				<key>label</key>
				<string>Home Screen</string>
				<key>sublabel</key>
				<string>Hide Dock and Folder Icons</string>
				<key>key</key>
				<string>homeScreen</string>
			</dict>	

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>liveWeather</string>
				<key>label</key>
				<string>Live Weather</string>
				<key>sublabel</key>
				<string>Configure Live Weather Background Settings</string>
				<key>key</key>
				<string>liveWeather</string>
			</dict>


			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>icon</string>
				<key>label</key>
				<string>Weather App Icon</string>
				<key>sublabel</key>
				<string>Configure Weather App Icon</string>
				<key>key</key>
				<string>iconConfig</string>
			</dict>

			


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>MidnightChips &amp; the casle © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>Support</string>
				<key>key</key>
				<string>support</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>com.midnightchips.asteroid.prefschanged</string>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/Asteroid.bundle/defaults.plist</string>
				<key>label</key>
				<string>Backup</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPChangeLogController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>ChangeLog</string>
				<key>changes</key>
				<array>
					<dict>
						<key>0.0.1</key>
						<array>
							<string>initial release</string>
						</array>
					</dict>
				</array>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>CSPVersionCell</string>
				<key>bundleID</key>
				<string>com.midnightchips.asteroid</string>
				<key>label</key>
				<string>Version</string>
			</dict>

		</array>
		<key>title</key>
		<string>Asteroid</string>
	</dict>
</plist>


